{% extends 'base.html' %}
{% load market_filter %}
{% load time_since %}
{% block content %}
<div class="container my-3">
    <div class="row my-3">
        <div class="col-6">
            <a href="{% url 'market:Product_create' %}" class="btn btn-primary">제품등록</a>
        </div>
        <div class="col-6">
            <div class="input-group">
                <input type="text" id="search_kw" class="form-control" value="{{ kw|default_if_none:'' }}">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <h1>최근 올라온 상품</h1>
    <div class="row">
        {% if Product_list %}
            {% for Product in Product_list %}
                <div class="col-4">
                    <div class="item">
                        <div class="card" style="width: 18rem;">
                            {% if Product.image %}
                                <a href="{% url 'market:detail' Product.id %}">
                                    <img src="{{ Product.image.url }}" style="width:250px; height:250px" alt="{{ Product.subject }}" class="my-3">
                                </a>
                            {% endif %}
                        </div>
                        <div class="card" style="width: 18rem;">
                            <h4 class="title">
                                <a href="{% url 'market:detail' Product.id %}">{{ Product.subject }}</a>
                            </h4>
                            <p class="price">가격: {{ Product.price }}</p>
                            <p class="user">판매자: {{ Product.seller.username }}</p>
                            <p>{{ Product.create_date|time_since }}</p>
                            <p class="view">조회수:
                                {% if Product.view_count > 0 %}
                                    <span class="text-danger small mx-2">{{ Product.view_count }}</span>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    <br>
                </div>
            {% endfor %}
        {% else %}
            <div class="col">
                <p>질문이 없습니다.</p>
            </div>
        {% endif %}
    </div>
</div>
    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if Product_list.has_previous %}
        <li class="page-item">
            <a class="page-link" data-page="{{ Product_list.previous_page_number }}" href="javascript:void(0)">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in Product_list.paginator.page_range %}
        {% if page_number >= Product_list.number|add:-5 and page_number <= Product_list.number|add:5 %}
        {% if page_number == Product_list.number %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" data-page="{{ page_number }}" href="javascript:void(0)">{{ page_number }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" data-page="{{ page_number }}" href="javascript:void(0)">{{ page_number }}</a>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if Product_list.has_next %}
        <li class="page-item">
            <a class="page-link" data-page="{{ Product_list.next_page_number }}" href="javascript:void(0)">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->
    </div>
    <form id="searchForm" method="get" action="{% url 'index' %}">
    <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
</form>
{% endblock %}
{% block script %}
<script type='text/javascript'>
const page_elements = document.getElementsByClassName("page-link");
Array.from(page_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        document.getElementById('page').value = this.dataset.page;
        document.getElementById('searchForm').submit();
    });
});
const btn_search = document.getElementById("btn_search");
btn_search.addEventListener('click', function() {
    document.getElementById('kw').value = document.getElementById('search_kw').value;
    document.getElementById('page').value = 1;  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
    document.getElementById('searchForm').submit();
});
</script>
{% endblock %}
